@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

header>div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.topSearch {
    padding: 0.5rem;
    gap: 1rem
}


.npmLogo {
    width: 100px;
}

.searchForm {
    display: flex;
    width: 100%;
    /** Formulario, ocupa todo el espacio disponible que te deje tu contenedor padre flex*/

}

.searchForm>img {
    background-color: rgba(0, 0, 0, .05);
    width: 50px;
    padding: 8px;
}

.searchForm>input {
    padding: 1rem;
    border: none;
    /** 1 rem en cuatro direcciones*/
    flex-grow: 1;
    /** Respecto a tus hermanos , tu debes crecer siempre y tomar el espacio disponible que te permitan */

}

#package-name {
    background-color: rgba(0, 0, 0, .05);
    width: 350px;
}

input[type=submit] {
    background-color: #fb3e44;
    color: white;
}

.loginLinks {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.loginLinks>a {
    color: rgba(0, 0, 0, .7);
    padding: 0.4rem 1rem;
    /** 0.4rem arriba y abajo de cada enlace, y 1rem izquierda y derecha de cada enlace*/
}

/** Porque esta nomenclatura ? Metodología BEM */
.loginLinks__join {
    border: 1px solid rgba(0, 0, 0, .7);

}

.section-amazing {
    text-align: center;
    background-color: rgba(232, 217, 217, .3);
    padding: 30px;
}

.section-amazing__title {
    font-size: 4rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section-amazing__description {
    width: 45%;
    margin: 0 auto;
    font-size: 1rem;
}

.section-amazing__links {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 30px;


}

.link-see-plans {
    background-color: #fb3b49;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
    padding: 10px 40px;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  .link-join-free {
    background-color: white;
    padding: 10px 40px;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
  }

.section-open-source {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.section-open-source__image {
    width: 200px;
}

.section-open-source__title {
    background-color: rgba(255, 204, 53, 0.4);
    transform: skew(9deg, 0deg);
    font-style: italic;
    font-size: 1.6rem;
    padding: 0 2%;
    font-weight: bold;
    margin-top: 50px;
}

.section-open-source__description {
    text-align: center;
    width: 40%;
    padding-bottom: 50px;
    font-size: 0.8rem;
}


.section-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
}

.section-features__container {
    display: flex;
    gap: 4rem;
}

.section-features__image {
    height: 20px;
}

.section-features__title {
    color: #ed1c24;
    text-align: left;
    font-size: 0.8em;
    font-weight: bold;
}

.section-features__description {
    font-size: 0.8rem;
    width: 200px;
}

.section-features__btn {
    margin-top:3rem;
    background-color: black;
    color: white;
    box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
    padding: 12px 80px;
    font-size: 0.9em;
    text-align: center;
    text-decoration: none;
}